<div class="navbar-fixed">
  <nav  role="navigation">
    <div class="nav-wrapper purple">
      <a [routerLink]="['']" id="logo-container" class="brand-logo center">IntervYou</a>
      <ul class="right">
        <li *ngIf="!tokenAuthService.userSignedIn()">
          <a (click)="presentAuthDialog()">LOGIN</a>
        </li>
        <li *ngIf="!tokenAuthService.userSignedIn()">
          <a (click)="presentAuthDialog('register')">REGISTER</a>
        </li>
        <li *ngIf="tokenAuthService.userSignedIn()">
          <a>PROFILE</a>
        </li>
        <li *ngIf="tokenAuthService.userSignedIn()">
          <a (click)="tokenAuthService.signOut()">LOGOUT</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<app-auth-dialog #authDialog></app-auth-dialog>
