<div id="edit-q-border">
  <h5>Edit this question</h5>
  <div class="row">
    <div class="input-field col s12">
      <input #text
             type="text"
             required
             name='text'
             class="validate">
      <label for="text">New Text</label>
    </div>

    <button (click)='updateQuestion(text.value)' type="submit" class="waves-effect waves-light btn purple left">Submit Changes</button>

    <button (click)='deleteQuestion()' type="submit" class="waves-effect waves-light btn purple right">Delete This Question</button>
  </div>
</div>
