<h4>Welcome to IntervYou!</h4>

<p>IntervYou is a place where developers can practice technical interview questions. You can view questions and answers without logging in by clicking the link on the top left. Click on a question to view its answers. At the moment, only text questions are enabled, but in the future, there will be a whiteboard question section.</p>

<p>IntervYou is designed to be a community-driven application, so please create an account! With an account, you can post questions and answers. This application is still in development, so I'd love to hear your feedback. Below is a list of planned future features.</p>

<ul>
  <li>Language tags for questions</li>
  <li>Topic tags for questions</li>
  <li>Difficulty tags for questions</li>
  <li>Show an avatar and name to profile.</li>
  <li>Stars for questions and answers.</li>
  <li>Ability to save questions and answers without posting.</li>
  <li>Whiteboard question section.</li>
  <li>Points for contributions.</li>
</ul>
